<!DOCTYPE html>
<html>

<head>
    <title>Comparateur Carburant</title>

    <style>

        body{
            font-family: Arial;
            margin:40px;
        }

        table{
            border-collapse: collapse;
            width:100%;
        }

        th,td{
            border:1px solid #ccc;
            padding:10px;
        }

        th{
            background:#f0f0f0;
        }

        .prix-marker {
    background: transparent;
    border: none;
        }   

        .prix-bulle {

    background: white;

    border: 2px solid #2563eb;

    border-radius: 20px;

    padding: 4px 8px;

    font-size: 12px;

    font-weight: bold;

    text-align: center;

    white-space: nowrap;

    box-shadow: 0 2px 6px rgba(0,0,0,0.25);

}
    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<body>
<div
    style="
        background:white;
        text-align:center;
        padding:8px;
        border-bottom:1px solid #e5e5e5;
    "
>

    <img
        src="/static/logo.png"
        alt="OptiPlein"
        style="
            height:70px;
            width:auto;
        "
    >

</div>
<div
    style="
        display:flex;
        align-items:center;
        justify-content:space-between;
        background:white;
        padding:10px 15px;
        border-bottom:1px solid #ddd;
        box-shadow:0 2px 8px rgba(0,0,0,0.05);
    "
>

    <img
        src="/static/logo.png"
        alt="OptiPlein"
        style="
            height:55px;
            width:auto;
        "
    >

    <div
        style="
            display:flex;
            gap:15px;
            font-weight:bold;
            font-size:16px;
            align-items:center;
        "
    >

        <span>
            ⛽ {{ nombre_stations }}
        </span>

        <span
            style="
                color:#28a745;
            "
        >
            🏆 {{ prix_min }} €
        </span>

    </div>

</div>
    <h1>Stations les moins chères</h1>

    <p>
        Nombre de stations : <strong>{{ nombre_stations }}</strong>
    </p>

    <p>
        Prix le plus bas : <strong>{{ prix_min }} €</strong>
    </p>

    <form method="get">

    <input
        type="text"
        name="ville"
        placeholder="Ville ou code postal">

    <select name="carburant">

        <option value="gazole">
            Gazole
        </option>

        <option value="e10">
            E10
        </option>

        <option value="sp98">
            SP98
        </option>

    </select>

    <select name="rayon">

        <option value="5">
            5 km
        </option>

        <option value="10" selected>
            10 km
        </option>

        <option value="20">
            20 km
        </option>

        <option value="50">
            50 km
        </option>

    </select>

    <input
        type="hidden"
        id="latitude"
        name="latitude">

    <input
        type="hidden"
        id="longitude"
        name="longitude">

    <button type="submit">
        Rechercher
    </button>

</form>

<br>

<button id="btn-position">
    📍 Autour de moi
</button>

<p id="position"></p>

    <h2>Carte des stations</h2>

    <div id="map"></div>

    <style>
#map {
    height: 80vh;
} 
   </style>

    
    <script>

// ========================
// Création de la carte
// ========================

var map = L.map('map').setView([46.6, 2.4], 6);

L.tileLayer(

    "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",

    {
        attribution: "",
        maxZoom: 19
    }

).addTo(map);
// ========================
// Marqueurs stations
// ========================

var markers = [];

{% for station in stations %}

{% if station.latitude and station.longitude %}

var prixIcon = L.divIcon({

    className: "prix-marker",

    html: `
        <div class="prix-bulle">
            {{ station.carburant_selectionne }}€
        </div>
    `,

    iconSize: [60, 24],
    iconAnchor: [30, 12]

});

var marker = L.marker(

    [
        {{ station.latitude }},
        {{ station.longitude }}
    ],

    {
        icon: prixIcon
    }

)
.addTo(map)

.bindPopup(`

    <div
        style="
            text-align:center;
            min-width:220px;
        "
    >

        <strong>
            ⛽ {{ station.carburant_selectionne }} €
        </strong>

        <br><br>

        {% if station.distance %}
        📍 {{ station.distance }} km
        <br><br>
        {% endif %}

        <div
            style="
                display:flex;
                gap:10px;
                justify-content:center;
            "
        >

<button

    onclick="ouvrirWaze(
        {{ station.latitude }},
        {{ station.longitude }}
    )"

    style="
        padding:8px 12px;
        background:#33CCFF;
        color:white;
        border:none;
        border-radius:6px;
        cursor:pointer;
    "

>

    🚗 Waze

</button>

    </div>

`);

markers.push(marker);

{% endif %}

{% endfor %}

// ========================
// Zoom automatique
// ========================

if (markers.length > 0) {

    var group = L.featureGroup(markers);

    map.fitBounds(
        group.getBounds(),
        {
            padding: [30, 30]
        }
    );
}

// ========================
// Géolocalisation utilisateur
// ========================

let latitudeUtilisateur = null;
let longitudeUtilisateur = null;

let utilisateurMarker = null;

var marqueurUtilisateur = null;

function demarrerGeolocalisation() {

    navigator.geolocation.watchPosition(

        function(position) {

            latitudeUtilisateur =
                position.coords.latitude;

            longitudeUtilisateur =
                position.coords.longitude;

            document.getElementById(
                "latitude"
            ).value = latitudeUtilisateur;

            document.getElementById(
                "longitude"
            ).value = longitudeUtilisateur;

            document.getElementById(
                "position"
            ).innerHTML =
                "Position : "
                + latitudeUtilisateur.toFixed(5)
                + ", "
                + longitudeUtilisateur.toFixed(5);

            if (marqueurUtilisateur) {

                marqueurUtilisateur.setLatLng([
                    latitudeUtilisateur,
                    longitudeUtilisateur
                ]);

                map.panTo([
                    latitudeUtilisateur,
                    longitudeUtilisateur
                ]);

            } else {

                var userIcon = L.divIcon({

                    html:
                        '<div style="width:18px;height:18px;border-radius:50%;background:#007bff;border:3px solid white;box-shadow:0 0 10px rgba(0,0,0,0.3);"></div>',

                    className: "",

                    iconSize: [24,24]

                });

                marqueurUtilisateur =
                    L.marker(

                        [
                            latitudeUtilisateur,
                            longitudeUtilisateur
                        ],

                        {
                            icon: userIcon
                        }

                    )
                    .addTo(map)
                    .bindPopup(
                        "Vous êtes ici"
                    );

                map.setView(

                    [
                        latitudeUtilisateur,
                        longitudeUtilisateur
                    ],

                    12

                );

            }

        },

        function(error) {

            console.log(
                "GPS refusé ou indisponible"
            );

        },

        {
            enableHighAccuracy: true,
            maximumAge: 0,
            timeout: 5000
        }

    );

}

// Bouton "Autour de moi"

document
.getElementById("btn-position")
.addEventListener(
    "click",
    demarrerGeolocalisation
);

// Lancement automatique au chargement

window.addEventListener(
    "load",
    demarrerGeolocalisation
);

function ouvrirGoogleMaps(
    latitudeStation,
    longitudeStation
) {

    const destination =
        latitudeStation + "," + longitudeStation;

    const origine =
        latitudeUtilisateur + "," + longitudeUtilisateur;

    window.open(

        "https://www.google.com/maps/dir/?api=1"
        + "&origin=" + encodeURIComponent(origine)
        + "&destination=" + encodeURIComponent(destination)
        + "&travelmode=driving",

        "_blank"

    );

}

function ouvrirWaze(
    latitudeStation,
    longitudeStation
) {

    window.open(

        "https://waze.com/ul?ll="
        + latitudeStation
        + ","
        + longitudeStation
        + "&navigate=yes",

        "_blank"

    );

}
</script>
</body>

</html>